{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "standard",
    "airbnb-typescript"
  ],
  "rules": {
    "@typescript-eslint/camelcase": ["off", { "properties": "always" }]
  }
}
